.sign_up {
    width: 100%;
    height: 100vh;
    background-color: #f3f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_up_container {
    width: 350px;
    height: 400px;
    background-color: #332E5B;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 20px;
    border-radius: 7px;
}

.sign_up_container > h2 {
    color: white;
    text-align: center;
    margin: 30px 0 20px 0;
}

label {
    margin-bottom: 5px;
    font-size: 18px
}

label:nth-child(1) {
    margin-top: 40px;
}

input {
    width: 100%;
    height: 35px;
    text-indent: 10px;
    background-color: #4C4069;
    border: none;
    outline: none;
    color: #fff;
    font-size: 17px;
    margin-bottom: 20px;
}

.first_int {
    margin-bottom: 10px;
}

.sign_up_container > button {
    background-color: #6145C0;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 20px 0 10px 0;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account> span {
    color: #D3C372;
    cursor: pointer;
    margin-left: 0px;
}

/* .sign_up_container > p > span {
    color: #D3C372;
    cursor: pointer;
} */

.user_alreadyInuse {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    background-color: red;
    color: #fff;
    border-radius: 15px;
}

.showAlert {
    animation: showAlert 3s ease-in-out;
}

@keyframes showAlert {
    10% {
        top: 30px;
    }
    80% {
        top: 30px;
    }
    100% {
        top: -100px;
    }
}

@keyframes showlert {
    10% {
        bottom: 0px;
    }
    
    100% {
        bottom: 0px;
    }
}

.normal {
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%);
    padding: 20px 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    animation: showDetect1 2s ease-in-out forwards;
}

.warning {
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%);
    padding: 20px 40px;
    background-color: rgb(211, 37, 66);
    color: white;
    border-radius: 15px;
    animation: showDetect2 2s ease-in-out forwards;
}

@keyframes showDetect1 {
    0% {
        display: none !important;
        top: -100px;
    }
    20% {
        display: block !important;
        top: 20px;
    }
    90% {
        display: block !important;
        top: 20px;
    }
    100% {
        display: none !important;
        top: -100px;
    }
}
@keyframes showDetect2 {
    0% {
        display: none !important;
        top: -100px;
    }
    20% {
        display: block !important;
        top: 20px;
    }
    90% {
        display: block !important;
        top: 20px;
    }
    100% {
        display: none !important;
        top: -100px;
    }
}